**/dist/
**/build/
**/target/
**/.classpath
**/.settings/
**/.project
**/.idea/modules.xml
**/.idea/libraries
**/.idea/workspace.xml
**/.idea/usage.statistics.xml
**/.idea/tasks.xml
**/.idea/shelf
**/*.iml
test/extensions/private/WS-test.jar
test/extensions/private/WS-test/lib/
test/library/private/DB-test/lib/
.vscode/tasks.json
release-tools/release