/jolie/nbproject/private/
/libjolie/nbproject/private/
/javaServices/coreJavaServices/nbproject/private/
/javaServices/monitorJavaServices/nbproject/private/
/extensions/btl2cap/nbproject/private/
/extensions/http/nbproject/private/
/extensions/https/nbproject/private/
/extensions/jsonrpc/nbproject/private/
/extensions/localsocket/nbproject/private/
/extensions/rmi/nbproject/private/
/extensions/soap/nbproject/private/
/extensions/sodep/nbproject/private/
/extensions/sodeps/nbproject/private/
/extensions/xmlrpc/nbproject/private/
/lib/jolie-ssl/nbproject/private/
/lib/jolie-xml/nbproject/private/
/lib/xsom/nbproject/private/
/support/jolie-gwt/nbproject/private/
/support/jolie-java/nbproject/private/
/support/metaservice-java/nbproject/private/
/tools/jolie2java/nbproject/private/
/tools/jolie2plasma/nbproject/private/
/tools/jolie2wsdl/nbproject/private/
/tools/joliec/nbproject/private/
/tools/joliedoc/nbproject/private/
/libjolie/build/
/jolie/build/
/libjolie/dist/
/jolie/dist/
dist/
build/
/extensions/javascript/nbproject/private/
/extensions/local/nbproject/private/
/lib/jolie-js/nbproject/private/
/tools/jolie2surface/nbproject/private/
/lib/xsom/build
/jolie/.idea/workspace.xml
/jolie/.idea/tasks.xml
/tools/jofmt/nbproject/private/