body {
    font-family: 'Courier New';
    font-size: 14px;
}

.code {
    width:100%;
}

.headertable {
    width: 100%;
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px dotted #444;
}

.menutd {
    width: 12%;
    border-right: 1px dotted #444;
    height: 1000px;
}

.bodytd {
    width: 80%;
}

.bodytd object {
    width:100%;
    height:100vh;
}

#message #content {
    width:100%;
    height: 90%;
    overflow-y: auto;
    position: relative;
}

.line {
    background-color: #dddddd;
    border: 1 px #bbbbbb;
    padding:2px;
}

.highlightedline {
    background-color: yellow;
}

.maintable {
    width: 100%;
}

.menutitle {
    font-weight: bold;
    font-size: 20px;
}

.menutd a {
    cursor: pointer;
}

#message {
    position: fixed;
    width: 90%;
    height: 70%;
    left: 5%;
    top: 10%;
    display: none;
    z-index: 2;
    background-color: white;
    color: #333;
    border: 1px solid black;
    box-shadow: 5px 10px #aaa;
}

#message button {
    float:right;
    padding:5px;
    margin:10px;
}


.itemmenu {
    text-align: center;
    width:100%;
}

.itemmenu a:hover {
    color:#600;
}