{{#choice}}{{#left_type}}
{{>typelink-template}}{{> typeinline-template}}
{{/left_type}}|{{#right_type}}
{{> type-template}}
{{/right_type}}{{/choice}}{{>typelink-template}}{{#undefined}}undefined{{/undefined}}{{^undefined}}{{>typeinline-template}}{{/undefined}}